.centro{
    text-align: center;
}
body{
    font-family: 'Source Code Pro', monospace;
}
main section{
    border: 1px solid black;
    background-color:#254E58;
    color:#F8E9A1 ;
    font-size: 20px;
}
*{
    box-sizing: border-box;
}
#colore{
    background-color: #88BDBC
}
header h1,h3{
    color: black;
}